blockquote,body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul {
  margin: 0;
  padding: 0
}

address,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption,th {
  text-align: left;
  font-weight: 400
}

abbr,body,fieldset,html,iframe,img {
  border: 0
}

address,cite,dfn,em,i,var {
  font-style: normal
}

[hidefocus],summary {
  outline: 0
}

li,ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

li {
  list-style: none
}

h1,h2,h3,h4,h5,h6,small {
  font-size: 100%
}

sub,sup {
  font-size: 83%
}

code,kbd,pre,samp {
  font-family: inherit
}

q:after,q:before {
  content: none
}

textarea {
  overflow: auto;
  resize: none
}

label,summary {
  cursor: default
}

a,button {
  cursor: pointer
}

b,em,h1,h2,h3,h4,h5,h6,strong {
  font-weight: 400
}

a,del,ins,s,u {
  text-decoration: none
}

body,button,input,keygen,legend,select,textarea {
  font: 14px/1.5 Helvetica,sans-serif;
  color: #333;
  outline: 0
}

body,html {
  background-color: transparent
}

a,a:visited {
  color: #333
}

body,html {
  height: 100%;
  -webkit-text-size-adjust: 100%
}

a,b,blockquote,body,button,caption,dd,del,div,dl,dt,em,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,i,ins,legend,li,menu,ol,p,pre,s,span,strong,table,td,textarea,th,u,ul {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
}

input,select,textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  background-color: transparent
}

input:focus,select:focus,textarea:focus {
  outline: 0;
}

input::-webkit-input-placeholder {
  color: #969696;
}

input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}

video::-webkit-media-controls-start-playback-glyph {
  will-change: opacity
}

.cb {
  clear: both;
}

.sgchfl, .sgfr {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto
}

.sgchfl {
  padding: 6px 0;
  width: 0;
}

.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

.sgtl {
  font-size: 17px;
}

.sginfo {
  font-size: 12px;
  color: #888;
}

.u-hmsprt {
  background: url(https://s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880) no-repeat;
  background-size: 166px 97px;
}

.sgchply {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -24px 0;
}

.sgchfr {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 10px;
}

.f-bd:after {
  position: absolute;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  border: 0 solid rgba(0,0,0,.1);
}

.f-bd-btm:after {
  border-bottom-width: 1px;
}

.f-bd {
  position: relative;
}

.f-bd-full:after {
  border-width: 1px;
}

.u-svg-srch {
  position: absolute;
  left: 0;
  top: 9px;
  margin: 0 8px;
  vertical-align: middle;
}

.u-svg {
  display: inline-block;
  vertical-align: middle;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.u-svg-srch {
  width: 13px;
  height: 13px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYzljOWNhIiBkPSJNMjUuMTgxLDIzLjUzNWwtMS40MTQsMS40MTRsLTcuMzE1LTcuMzE0CgkJQzE0LjcwOSwxOS4xMDcsMTIuNDYsMjAsMTAsMjBDNC40NzcsMjAsMCwxNS41MjMsMCwxMEMwLDQuNDc3LDQuNDc3LDAsMTAsMGM1LjUyMywwLDEwLDQuNDc3LDEwLDEwYzAsMi4zNDItMC44MTEsNC40OS0yLjE2LDYuMTk1CgkJTDI1LjE4MSwyMy41MzV6IE0xMCwyYy00LjQxOCwwLTgsMy41ODItOCw4czMuNTgyLDgsOCw4YzQuNDE4LDAsOC0zLjU4Miw4LThTMTQuNDE4LDIsMTAsMnoiLz48L3N2Zz4=);
}

.u-svg-empty {
  width: 14px;
  height: 14px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCAyOCI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjYmNiZGJkIiBkPSJNMTQsMGM3LjczMiwwLDE0LDYuMjY4LDE0LDE0YzAsNy43MzItNi4yNjgsMTQtMTQsMTQKCVMwLDIxLjczMiwwLDE0QzAsNi4yNjgsNi4yNjgsMCwxNCwweiIvPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ViZWNlYiIgc3Ryb2tlLXdpZHRoPSIyLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCI+PHBhdGggZD0ibTE5IDlsLTEwIDEwIi8+PHBhdGggZD0ibTkgOWwxMCAxMCIvPjwvZz48L2c+PC9zdmc+);
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .f-bd:after,.u-cover:after,.u-face:after {
    width: 150%;
    height: 150%;
    -webkit-transform: scale(.666666);
    transform: scale(.666666)
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .f-bd:after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }

  .u-cover:after,.u-face:after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(.333333);
    transform: scale(.333333);
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .f-bd-two.f-bd-full:after {
    border-width: 2px;
  }

  .f-bd-two.f-bd-right:after {
    border-right-width: 2px;
  }

  .f-bd:after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(.333333);
    transform: scale(.333333);
  }

  .u-hmsprt {
    background-image: url(https://s3.music.126.net/m/s/img/index_icon_3x.png?49a82fee3e0fc602e9c8b25df2bda159);
  }

  .u-authicn-16 {
    background-image: url(https://s3.music.126.net/m/s/img/authicn_16_3x.png?b980283419c33030ba8daa321220d857);
  }

  .u-cover:after,.u-face:after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(.333333);
    transform: scale(.333333);
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .recommend-music__ft {
    background-image:url(https://s3.music.126.net/m/s/img/recommand_bg_3x.png?f3a9aaa781c3bf3b543d129327d35fce);
  }
}

@media screen and (max-width: 374px) {
  .logo {
    padding-top:12%;
  }
}

